@charset "utf-8";

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

header {
  height: 100px;
  xbackground-color: #f1f1f1;
  box-sizing: border-box;
  border-bottom: 2px black solid;
}

aside {
  xbackground: cyan;
  width: 220px;
  height: calc(100% - 100px);
  box-sizing: border-box;
  border-right  : 2px black solid;
}

main {
  margin-left: 220px;
  xbackground-color: pink;
  height: calc(100% - 100px);
  margin-top: calc(-100vh + 100px);
}